<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>1020804123411-qi2765kfcm5796hmcbj0e6nsituv1f1k.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1020804123411-qi2765kfcm5796hmcbj0e6nsituv1f1k</string>
	<key>API_KEY</key>
	<string>AIzaSyCmhw5jnej3DduJg6Z9yS6-lynxS7g2vqY</string>
	<key>GCM_SENDER_ID</key>
	<string>1020804123411</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.sampleboard</string>
	<key>PROJECT_ID</key>
	<string>sample-board-flutter</string>
	<key>STORAGE_BUCKET</key>
	<string>sample-board-flutter.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1020804123411:ios:9de1119aeb42a03a</string>
	<key>DATABASE_URL</key>
	<string>https://sample-board-flutter.firebaseio.com</string>
</dict>
</plist>